// material design palette
// deep orange, orange
$darkPrimaryColor: #455A64;
$lightPrimaryColor: #CFD8DC;
$primaryColor: #607D8B;
$accentColor: #795548;
$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$textIconsColor: #FFFFFF;
$dividerColor: #BDBDBD;	


$backgroundColor: $lightPrimaryColor;
$headerBgColor: $darkPrimaryColor;


$marginLg: 16px;
$marginMd: 8px;
$marginSm: 4px;


$mui-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);