.Button button {
  cursor: pointer;
  border: none;
  background-color: #455A64;
  color: #FFFFFF;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0px 4px 8px 0px #607D8B; }

.Button button:hover {
  background-color: #607D8B; }

.disabled button {
  cursor: default;
  opacity: .75; }

.disabled button:hover {
  background-color: #455A64; }
