.App {
  text-align: center;
  cursor: default; }

.App-header {
  background-color: #455A64;
  padding: 16px;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  align-items: center; }

.App-title {
  grid-column-start: 2; }
  .App-title h1 {
    font-size: 2em;
    margin: auto; }

.App-github {
  grid-column-start: 3;
  text-align: center; }
  .App-github a {
    color: #FFFFFF;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1); }
  .App-github a:hover {
    color: #CFD8DC; }

@media only screen and (max-width: 479px) {
  .App-header {
    grid-template-columns: auto auto; }
  .App-title {
    grid-column: 1; }
  .App-github {
    grid-column: 2; } }
